<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-searchio</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0877E34C-7243-4E59-B01B-299F8BE837A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1539D264-9875-4F20-A2E4-8CA68D20C0CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>18E144DF-1054-4A12-B5F0-AC05C6F7DEFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>20385CD0-036E-4796-9BCD-E5E30DA265EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2F2432A8-3DCF-47C7-A1F4-680C2BF00198</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F475E2AB-BBA7-4C5B-9319-4B26133397EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3604BBA2-1BA5-41C4-BE24-9B00090737D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>41C03945-94E6-4089-B4E9-1B19446E3D76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>531A6FA1-3566-4B71-B5D5-9CECB2B976BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BA5F1D0-6222-4657-8EDE-9C4C2DDC3A68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6D0C822D-0E06-44C9-9E76-4CFB2FA12D3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6D9FE2EC-FFBC-432E-B45B-F51FF74015F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9B8F463-0582-4B14-A44A-1B3B229B7055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B4A82FCF-3661-4BC7-980E-76E299A34808</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF5496AD-5550-43AE-A752-A57A9C534160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BAD10938-7F77-4826-AAFE-1FD9A4B05FF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C7678A85-DE2F-43A9-B8A3-6F7BECDA4608</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA339DBD-BB74-4EAA-8817-694C7E9C4E76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E27C4EA8-5B61-4C98-BED0-EDB34E30CF61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E2B1821F-DE2D-4751-9706-775DD9270540</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F475E2AB-BBA7-4C5B-9319-4B26133397EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B5D7BC9-4C88-46CE-BCC2-DFDD40A385D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FBA5968D-1DBE-40B6-B805-FDAD0DE785F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FCE73A46-8D9B-4A73-A19A-9B7ED27CB1E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Search via DuckDuckGo/Google/Bing/Wikipedia/Wiktionary/Ask</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Searchio!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>searchio</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Generating list…</string>
				<key>script</key>
				<string>/usr/bin/python search.py --list "{query}"</string>
				<key>subtext</key>
				<string>View/search list of supported search engines</string>
				<key>title</key>
				<string>Supported Search Engines</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F2432A8-3DCF-47C7-A1F4-680C2BF00198</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Settings Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6B5D7BC9-4C88-46CE-BCC2-DFDD40A385D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python settings.py toggle-query-in-results</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F475E2AB-BBA7-4C5B-9319-4B26133397EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>searchiohelp</string>
				<key>subtext</key>
				<string>Open help file in your browser</string>
				<key>text</key>
				<string>Searchio Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4A82FCF-3661-4BC7-980E-76E299A34808</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/deanishe/alfred-searchio/blob/master/README.md#searchio-workflow-for-alfred</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FF5496AD-5550-43AE-A752-A57A9C534160</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>g</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py "{query}"</string>
				<key>title</key>
				<string>Google Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18E144DF-1054-4A12-B5F0-AC05C6F7DEFD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>m</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e google-maps "{query}"</string>
				<key>title</key>
				<string>Google Maps Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20385CD0-036E-4796-9BCD-E5E30DA265EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gi</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e google-images "{query}"</string>
				<key>title</key>
				<string>Google Images Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1539D264-9875-4F20-A2E4-8CA68D20C0CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>w</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wikipedia "{query}"</string>
				<key>title</key>
				<string>Wikipedia Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D9FE2EC-FFBC-432E-B45B-F51FF74015F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wn</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wiktionary "{query}"</string>
				<key>title</key>
				<string>Wiktionary Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA339DBD-BB74-4EAA-8817-694C7E9C4E76</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>a</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e amazon "{query}"</string>
				<key>title</key>
				<string>Amazon.com Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BAD10938-7F77-4826-AAFE-1FD9A4B05FF6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>yt</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e youtube "{query}"</string>
				<key>title</key>
				<string>YouTube Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2B1821F-DE2D-4751-9706-775DD9270540</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e bing "{query}"</string>
				<key>title</key>
				<string>Bing Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>41C03945-94E6-4089-B4E9-1B19446E3D76</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e ddg "{query}"</string>
				<key>title</key>
				<string>DuckDuckGo Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C7678A85-DE2F-43A9-B8A3-6F7BECDA4608</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e ebay "{query}"</string>
				<key>title</key>
				<string>eBay Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FBA5968D-1DBE-40B6-B805-FDAD0DE785F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e yahoo -l uk "{query}"</string>
				<key>title</key>
				<string>Yahoo! UK Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3604BBA2-1BA5-41C4-BE24-9B00090737D3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wiktionary -l de "{query}"</string>
				<key>title</key>
				<string>German Wiktionary Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A9B8F463-0582-4B14-A44A-1B3B229B7055</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e google -l de "{query}"</string>
				<key>title</key>
				<string>Google Search (DE)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0877E34C-7243-4E59-B01B-299F8BE837A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e bing -l de "{query}"</string>
				<key>title</key>
				<string>German Bing Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E27C4EA8-5B61-4C98-BED0-EDB34E30CF61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wikipedia -l simple "{query}"</string>
				<key>title</key>
				<string>Simple Wikipedia Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FCE73A46-8D9B-4A73-A19A-9B7ED27CB1E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wikipedia -l de "{query}"</string>
				<key>title</key>
				<string>German Wikipedia Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BA5F1D0-6222-4657-8EDE-9C4C2DDC3A68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e amazon -l de "{query}"</string>
				<key>title</key>
				<string>Amazon.de Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D0C822D-0E06-44C9-9E76-4CFB2FA12D3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e amazon -l uk "{query}"</string>
				<key>title</key>
				<string>Amazon.co.uk Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>531A6FA1-3566-4B71-B5D5-9CECB2B976BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0877E34C-7243-4E59-B01B-299F8BE837A6</key>
		<dict>
			<key>ypos</key>
			<real>1580</real>
		</dict>
		<key>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>1539D264-9875-4F20-A2E4-8CA68D20C0CE</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>18E144DF-1054-4A12-B5F0-AC05C6F7DEFD</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>20385CD0-036E-4796-9BCD-E5E30DA265EA</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>2F2432A8-3DCF-47C7-A1F4-680C2BF00198</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>3604BBA2-1BA5-41C4-BE24-9B00090737D3</key>
		<dict>
			<key>ypos</key>
			<real>1360</real>
		</dict>
		<key>41C03945-94E6-4089-B4E9-1B19446E3D76</key>
		<dict>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>531A6FA1-3566-4B71-B5D5-9CECB2B976BF</key>
		<dict>
			<key>ypos</key>
			<real>2130</real>
		</dict>
		<key>6B5D7BC9-4C88-46CE-BCC2-DFDD40A385D2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6BA5F1D0-6222-4657-8EDE-9C4C2DDC3A68</key>
		<dict>
			<key>ypos</key>
			<real>1910</real>
		</dict>
		<key>6D0C822D-0E06-44C9-9E76-4CFB2FA12D3C</key>
		<dict>
			<key>ypos</key>
			<real>2020</real>
		</dict>
		<key>6D9FE2EC-FFBC-432E-B45B-F51FF74015F2</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>A9B8F463-0582-4B14-A44A-1B3B229B7055</key>
		<dict>
			<key>ypos</key>
			<real>1470</real>
		</dict>
		<key>B4A82FCF-3661-4BC7-980E-76E299A34808</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BAD10938-7F77-4826-AAFE-1FD9A4B05FF6</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>C7678A85-DE2F-43A9-B8A3-6F7BECDA4608</key>
		<dict>
			<key>ypos</key>
			<real>1140</real>
		</dict>
		<key>CA339DBD-BB74-4EAA-8817-694C7E9C4E76</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>E27C4EA8-5B61-4C98-BED0-EDB34E30CF61</key>
		<dict>
			<key>ypos</key>
			<real>1690</real>
		</dict>
		<key>E2B1821F-DE2D-4751-9706-775DD9270540</key>
		<dict>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>F475E2AB-BBA7-4C5B-9319-4B26133397EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FBA5968D-1DBE-40B6-B805-FDAD0DE785F6</key>
		<dict>
			<key>ypos</key>
			<real>1250</real>
		</dict>
		<key>FCE73A46-8D9B-4A73-A19A-9B7ED27CB1E0</key>
		<dict>
			<key>ypos</key>
			<real>1800</real>
		</dict>
		<key>FF5496AD-5550-43AE-A752-A57A9C534160</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
