<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-searchio</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0877E34C-7243-4E59-B01B-299F8BE837A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>18E144DF-1054-4A12-B5F0-AC05C6F7DEFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>41C03945-94E6-4089-B4E9-1B19446E3D76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BA5F1D0-6222-4657-8EDE-9C4C2DDC3A68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6D9FE2EC-FFBC-432E-B45B-F51FF74015F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A9B8F463-0582-4B14-A44A-1B3B229B7055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD4C3479-73CE-4705-9062-F71ADC5C8533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C7678A85-DE2F-43A9-B8A3-6F7BECDA4608</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA339DBD-BB74-4EAA-8817-694C7E9C4E76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E27C4EA8-5B61-4C98-BED0-EDB34E30CF61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Search via DuckDuckGo/Google/Bing/Wikipedia/Wiktionary</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Searchio!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>d</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e ddg "{query}"</string>
				<key>title</key>
				<string>Search with DuckDuckGo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD4C3479-73CE-4705-9062-F71ADC5C8533</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>g</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e google "{query}"</string>
				<key>title</key>
				<string>Search with Google</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>18E144DF-1054-4A12-B5F0-AC05C6F7DEFD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gd</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e google -l de "{query}"</string>
				<key>title</key>
				<string>Search with Google</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0877E34C-7243-4E59-B01B-299F8BE837A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>w</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wikipedia "{query}"</string>
				<key>title</key>
				<string>Search Wikipedia</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6D9FE2EC-FFBC-432E-B45B-F51FF74015F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wd</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wikipedia -l de "{query}"</string>
				<key>title</key>
				<string>Search German Wikipedia</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BA5F1D0-6222-4657-8EDE-9C4C2DDC3A68</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>b</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e bing "{query}"</string>
				<key>title</key>
				<string>Search with Bing</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>41C03945-94E6-4089-B4E9-1B19446E3D76</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wn</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wiktionary "{query}"</string>
				<key>title</key>
				<string>Search Wiktionary</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA339DBD-BB74-4EAA-8817-694C7E9C4E76</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wnd</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e wiktionary -l de "{query}"</string>
				<key>title</key>
				<string>Search Wiktionary (DE)</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A9B8F463-0582-4B14-A44A-1B3B229B7055</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dd</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e ddg -l de "{query}"</string>
				<key>title</key>
				<string>Search with DuckDuckGo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C7678A85-DE2F-43A9-B8A3-6F7BECDA4608</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bd</string>
				<key>runningsubtext</key>
				<string>Fetching results…</string>
				<key>script</key>
				<string>/usr/bin/python search.py -e bing -l de "{query}"</string>
				<key>title</key>
				<string>Search with Bing</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E27C4EA8-5B61-4C98-BED0-EDB34E30CF61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>searchio</string>
				<key>runningsubtext</key>
				<string>Generating list…</string>
				<key>script</key>
				<string>/usr/bin/python search.py --list</string>
				<key>subtext</key>
				<string>View list of supported search engines</string>
				<key>title</key>
				<string>Supported Search Engines</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F2432A8-3DCF-47C7-A1F4-680C2BF00198</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0877E34C-7243-4E59-B01B-299F8BE837A6</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1133DEAA-5A8F-4E7D-9E9C-A76CB82D9F92</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>18E144DF-1054-4A12-B5F0-AC05C6F7DEFD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2F2432A8-3DCF-47C7-A1F4-680C2BF00198</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>41C03945-94E6-4089-B4E9-1B19446E3D76</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6BA5F1D0-6222-4657-8EDE-9C4C2DDC3A68</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>6D9FE2EC-FFBC-432E-B45B-F51FF74015F2</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A9B8F463-0582-4B14-A44A-1B3B229B7055</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>BD4C3479-73CE-4705-9062-F71ADC5C8533</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C7678A85-DE2F-43A9-B8A3-6F7BECDA4608</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>CA339DBD-BB74-4EAA-8817-694C7E9C4E76</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>E27C4EA8-5B61-4C98-BED0-EDB34E30CF61</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
